@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-3xl font-semibold;
}
h2 {
  @apply text-2xl font-semibold;
}
h3 {
  @apply text-22 font-semibold ;
}
h4 {
  @apply text-20 font-semibold ;
}
h5 {
  @apply text-18 font-semibold;
}
h6 {
  @apply text-16 font-semibold;
}


/* Slider Parner page */
.partner-gradient::after {
  background: #003E2C;
}
.partner-gradient {
  position: relative;
  display: block;
  padding-block: 30px;
}
.partner-gradient::after {
  content: "";
  left: 0;
  top: -5px;
  height: 119px;
  width: 100%;
  background-color: linear-gradient(150.39deg, rgb(237, 242, 248) 15.02%, #EDF2F8 99.59%);
  transform: rotate(2deg);
  z-index: 2;
  position: absolute;
  @apply dark:bg-[#003E2C]
}

.partner-gradient:before {
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  @apply bg-tertiary_color border-body_color border-y-8 border-solid ;
  z-index: 3;
  position: absolute;
}

/* Feature */

.linear_bg  {
  background: linear-gradient(152deg, rgba(237, 242, 248, 0.02) 0%, rgba(237, 242, 248, 0.08) 100%);
}

.feature .feature_shape-item span {
  position: absolute;
  top: 0%;
  right: -1%;
  content: "";
  height: 92vh;
  width: 900px;
  background: linear-gradient(219deg, rgba(255, 255, 255, 0.00) 0%, #253A33 100%);
  border-bottom-left-radius: 25%;
  top: 5%;
  right: -1%;
}

.feature .feature_shape-item {
  content: "";
  height: 100vh;
  width: 920px;
  border: 2px solid #253A33;
  padding: 40px;
  border-bottom-left-radius: 25%;
  top: -40%;
  right: -40%;
  transform: rotate(-10deg);
  z-index: 1;
}